<section class="section container-fluid">
    <h1 class="page-header">Connections</h1>

    <div class="scrollable">
        <div class="scrollable-content">
            <div class="section">

                <h2>my connections</h2>

                <div class="panel panel-default">

                    <div class="panel-heading justified">
                        <span class="fa fa-link fa-2x"></span>
                        <span class="fa fa-2x text-right">connect</span>
                    </div>

                    <div class="panel-body">
                        <h5>
                            Request a connection with another ID-IO user
                        </h5>

                        <form name="connectionForm">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon fa fa-user"></span>
                                <input type="text" class="form-control" aria-label="Username" name="connectionUserName"
                                       placeholder="Connection username" ng-model="connectionUserName" required="true"/>
                            </div>
                                    <span style="color:red"
                                          ng-show="connectionForm.connectionUserName.$dirty && connectionForm.connectionUserName.$invalid">
                                              Invalid username
                                        </span>
                            <br/>

                            <div class="input-group input-group-lg pull-right">
                                <button type="button" ng-show="connectionForm.connectionUserName.$valid"
                                        class="btn btn-primary btn-lg" ng-click="setAction(connectionId, 'connect')">
                                    connect
                                </button>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="panel panel-default">

                    <div class="panel-heading justified">
                        <span class="fa fa-users fa-2x"></span>
                        <span class="fa fa-2x text-right">my connections</span>
                    </div>

                    <div class="panel-body">

                        <div class="list-group" ng-model="connections">
                            <div class="row list-group-item list-group-item-heading">
                                <div class="col-xs-2">
                                    <h4>Username</h4>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <h4>Name</h4>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <h4>Direction</h4>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <h4>Status</h4>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <h4>Action</h4>
                                </div>
                            </div>


                            <div ng-repeat="connection in connections" class="row list-group-item">
                                <!--Username-->
                                <div class="col-xs-2">
                                    <span>{{connection.user.username}}</span>
                                </div>
                                <!--Name-->
                                <div class="col-xs-3 text-center">
                                    <span>{{connection.user.first_name + ' ' + connection.user.last_name}}</span>
                                </div>
                                <!--Direction-->
                                <div class="col-xs-2 text-center">
                                    <span>{{connection.user.type == 'origin' ? 'received' : 'sent'}}</span>
                                </div>
                                <!--Status-->
                                <div class="col-xs-2 text-center">
                                    <i ng-show="connection.status == 'pending'"
                                       class="fa fa-2x fa-list-icon fa-clock-o"></i>
                                    <i ng-show="connection.status == 'connected'"
                                       class="fa fa-2x fa-list-icon fa-link"></i>
                                    <i ng-show="connection.status == 'rejected'"
                                       class="fa fa-2x fa-list-icon fa-unlink"></i>
                                    <i ng-show="connection.status == 'disconnected'"
                                       class="fa fa-2x fa-list-icon fa-unlink"></i>
                                </div>
                                <!--Action-->
                                <div class="col-xs-3 text-center">
                                    <!-- if connection.type is 'origin', it is an incoming request that I can approve -->
                                    <div ng-show="connection.user.type == 'origin'">

                                        <div ng-show="connection.status == 'pending'">
                                            <a href="" ng-click="setAction(connection.id, 'confirm')">connect</a>
                                            &nbsp; | &nbsp;
                                            <a href="" ng-click="setAction(connection.id, 'reject')">reject</a>
                                        </div>

                                        <div ng-show="connection.status == 'connected'">
                                            <a href="" ng-click="setAction(connection.id, 'disconnect')">disconnect</a>
                                        </div>

                                    </div>
                                    <!-- outgoing requests -->
                                    <div ng-show="connection.user.type == 'target'">
                                        <div ng-show="connection.status == 'connected'">
                                            <a href="" ng-click="setAction(connection.id, 'disconnect')">disconnect</a>
                                        </div>
                                        <div ng-show="connection.status != 'connected'">
                                            -
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal></modal>
    <credentials-modal></credentials-modal>
</section>
