<div ui-content-for="credential-modals">
    <div class="modal" ng-if="show">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" ng-click="cancelModal()">&times;</button>
                    <h4 class="modal-title">Enter your password</h4>
                </div>
                <div class="modal-body">
                    <form name="confirmationForm">
                        <div class="input-group input-group-lg">

                            <span class="input-group-addon fa fa-key"></span>
                            <input type="password" class="form-control" aria-label="Password" name="password"
                                   placeholder="Enter your password to confirm" ng-model="credentials.password"
                                   required="true"/>

                        </div>
                        <span style="color:red"
                              ng-show="(connectionForm.connectionUserName.$dirty && connectionForm.connectionUserName.$invalid)">
                                              Invalid password!
                                        </span>

                    </form>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" ng-show="confirmationForm.password.$valid"
                                class="btn btn-primary" ng-click="credentialsEntered()">Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>