<section class="section container-fluid">
    <h1 class="page-header">My wallet</h1>

    <div class="scrollable">
        <div class="scrollable-content">
            <div class="section">

                <h2>login</h2>

                <div class="panel panel-default" ng-model="context" ng-show="passwordValidated == false;">

                    <div class="panel-heading">
                        <div class="fa fa-unlock fa-2x">
                        </div>
                        <span class="fa fa-2x pull-right">unlock</span>
                    </div>

                    <div class="panel-body">
                        <h5>
                            Login to manage your connections and your wallet.
                        </h5>

                        <form name="loginForm" novalidate>
                            <div class="input-group input-group-lg">

                                <span class="input-group-addon fa fa-user"></span>
                                <input type="text" class="form-control" name="userName" aria-label="Email"
                                       placeholder="Username" ng-model="userName" required="true"/>
                            </div>
                            <span style="color:red"
                                  ng-show="loginForm.userName.$dirty && loginForm.userName.$invalid">
                                              Username is required!
                                        </span>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon fa fa-key"></span>
                                <input type="password" class="form-control" name="password"
                                       aria-label="Password"
                                       placeholder="Password" ng-model="password" required="true"/>
                            </div>

                            <span style="color:red"
                                  ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                                              Password is required!
                                        </span>

                            <div class="input-group input-group-lg">

                                <span class="input-group-addon btn fa fa-cloud dropdown-toggle" data-toggle="dropdown"
                                      ui-turn-on="domainDropdown"></span>
                                <ul class="dropdown-menu" role="menu"
                                    ui-show="domainDropdown"
                                    ui-state="domainDropdown"
                                    ui-turn-off="domainDropdown">
                                    <li class="selected"><a ng-click="domainSelected('id-io')">Default (ID-IO
                                        Wallet)</a></li>
                                    <li><a ng-click="domainSelected('accord.ly')">Contract Designer</a></li>
                                </ul>

                                <input type="text" class="form-control" disabled aria-label="..."
                                       value="{{domain != null ? domainAliases[domain] : 'ID-IO Wallet'}}">
                            </div>

                            <div class="input-group input-group-lg pull-right" ng-show="loginForm.$valid">
                                <button type="button" class="btn btn-primary btn-lg"
                                        ng-click="login();">login
                                </button>
                            </div>
                        </form>

                        <!--<br/>-->
                        <!--<span>Need to <a href="#/restore">restore</a> your wallet?</span>-->
                        <span>Don't have an identity? <a href="#/register">Register</a></span>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <modal></modal>
</section>