<div class="scrollable">
    <div class="scrollable-content" ng-controller="SideBarController as sidebar">
        <div class="logo">
            <a href="#/">
                <img class="thumb-icon-large" src="../images/thumb.svg">
            </a>
        </div>

        <div class="list-group" ui-turn-off='uiSidebarLeft' ng-hide="currentRole != null">

            <!--<a class="list-group-item" href="#/register">-->
                    <!--<i class="fa fa-lg fa-user"></i>-->
                    <!--<span class="fa fa-lg">&nbsp;register</span>-->
                    <!--<i class="fa fa-lg fa-chevron-right pull-right"></i>-->
            <!--</a>-->
            <h4>
                <a class="list-group-item" href="#/wallet">
                        <i class="fa"><img class="wallet-icon-small" src="../images/wallet.svg"> </i>
                        <!--<span class="fa fa-lg">&nbsp;my wallet</span>-->
                        <span>&nbsp;my wallet</span>
                        <!--<i class="fa fa-lg fa-chevron-right pull-right"></i>-->
                </a>
            </h4>

            <h4>
            <a class="list-group-item" href="#/sso">
                    <i class="fa fa-lg fa-cloud"></i>
                    <span>&nbsp;trusted web apps</span>
                    <!--<i class="fa fa-lg fa-chevron-right pull-right"></i>-->
                </a>
            </h4>
        </div>
    </div>
</div>
