<div class="scrollable">
    <div class="scrollable-content" ng-controller="SideBarController as sidebar">
        <div class="logo">
            <a href="#/">
                <img class="thumb-icon-large" src="../images/thumb.svg">
            </a>
        </div>

        <div class="list-group" ui-turn-off='uiSidebarLeft' ng-hide="currentRole != null">

            <h4 ng-show="context == null">
                <a class="list-group-item" href="#/login">
                        <i class="fa fa-user"></i>
                        <span>&nbsp;login</span>
                </a>
            </h4>

            <h4 ng-show="context != null">
                <a class="list-group-item" href="#/connections">
                    <!--<i class="fa fa-lg fa-cloud"></i>-->
                    <i class="fa fa-lg fa-link"></i>
                    <span>&nbsp;my connections</span>
                </a>
            </h4>

            <h4 ng-show="context != null">
                <a class="list-group-item" href="#/wallet">
                        <!--<i class="fa"><img class="wallet-icon-small" src="../images/wallet.svg"> </i>-->
                        <i class="fa fa-key"></i>
                        <span>&nbsp;my wallet</span>
                </a>
            </h4>

            <!--<h4 ng-show="context != null">-->
            <!--<a class="list-group-item" href="#/sso">-->
                    <!--<i class="fa fa-lg fa-cloud"></i>-->
                    <!--<span>&nbsp;trusted web apps</span>-->
                <!--</a>-->
            <!--</h4>-->
        </div>
    </div>
</div>
